// Place all the styles related to the videodrome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//login-register
.register-login{
	height:200px;	
}

// media 
.media-player{height:100%;width:100%;position:fixed;padding:10px;border-left:1px solid #eee;}
.youtube-placement{height:250px;background:#111;}
