{% load i18n %}

<div style="display:none;">
     <div class="span4">
	{% block column-1 %}
	    <h2>About</h2>
	    <p>Learn More About LinerNotes</p>
	    <p><a class="btn" href="/about">View details &raquo;</a></p>
	{% endblock %}
	</div>
		
     <div class="span4">
	{% block column-2 %}
	    <h2>Support</h2>
	    <p>Get Help Using Everything LinerNotes has to offer</p>
	    <p><a class="btn" href="/about">View details &raquo;</a></p>
	{% endblock %}
	</div>
	     
     <div class="span4">
	{% block column-3 %}
	    <h2>Terms of Service</h2>
	    <p>Terms. Service. Law!</p>
	    <p><a class="btn" href="/about">View details &raquo;</a></p>
	{% endblock %}
	</div>
	
	<div class="span4">
	{% block column-4 %}
	    <h2>Mystery Land</h2>
	    <p>What could this be?</p>
	    <p><a class="btn" href="/about">View details &raquo;</a></p>
	{% endblock %}
	</div>
	
</div>
