{% load static %}
doctype 5
html(lang="en")
  head
    title Videodrome
    link(href='{% get_static_prefix %}css/custom.css?body=1',media='all',rel='stylesheet',type='text/css')
    script(src='{% get_static_prefix %}js/jquery-1.7.1.min.js')
    
  body
    div.app-container
      div.row.register-login
        div.columns.six.register
          h3 Register!
        div.columns.six.log-in
          h3 Log In!
      div.placed-fixed
        div.row.media-player
          div.media-player.four.offset-by-eight
            div.youtube-placement
        div.media-control
          a.prev-media(href='#') Prev
          a.next-media(href='#') Next
      div.row
        div.columns.three.recent-container
          div.logo THIS IS VIDEODROME
          div.recent-favorites
            h4 Your Recent Favorites
            ul
              a.track(data-id='1337',href='#')
                li Chad Valley - Shell Suite (Cashmere Cat Remix)
              a.track(data-id='1334',href='#')
                li Chad Valley - Shell Suite (Cashmere Cat Remix)
              a.track(data-id='1332',href='#')
                li Chad Valley - Shell Suite (Cashmere Cat Remix)
              a.track(data-id='1331',href='#')
                li Chad Valley - Shell Suite (Cashmere Cat Remix)
        div.columns.five.stream-container.end
          div.stream-set.row
            div.stream-item.row
              div.columns.eight
                h2.item-title
                a.item-source(href='http://toomanysebastians.net/2012/12/12/tiga-plush-jacques-lu-cont-remix/',target='_blank') Tiga – Plush (Jacques Lu Cont Remix)
                span.item-blog-source
                  | Scraped From
                  a(href='http://toomanysebastians.net/',target='_blank') Et Musique Pour Tous
                span.item-timestamp Friday, January 18, 2013
              div.columns.four
                div.play-item
                  a.track(data-id='1338',href='#') play
            div.stream-item.row
              div.columns.eight
                h2.item-title
                a.item-source(href='http://toomanysebastians.net/2012/12/12/tiga-plush-jacques-lu-cont-remix/',target='_blank') Tiga – Plush (Jacques Lu Cont Remix)
                span.item-blog-source
                  | Scraped From
                  a(href='http://toomanysebastians.net/',target='_blank') Et Musique Pour Tous
                span.item-timestamp Friday, January 18, 2013
              div.columns.four
                div.play-item
                  a.track(data-id='1338',href='#') play
            div.stream-item.row
              div.columns.eight
                h2.item-title
                a.item-source(href='http://toomanysebastians.net/2012/12/12/tiga-plush-jacques-lu-cont-remix/',target='_blank') Tiga – Plush (Jacques Lu Cont Remix)
                span.item-blog-source
                  | Scraped From
                  a(href='http://toomanysebastians.net/',target='_blank') Et Musique Pour Tous
                span.item-timestamp Friday, January 18, 2013
              div.columns.four
                div.play-item
                  a.track(data-id='1338',href='#') play
    script(src='/jquery.js')
    script(src='/videodrome.js')