div.container
	nav#topMenu role="navigation"

	header#header.row
		  div.four.columns.phone-two
		   
		  div.eight.columns.phone-two
			p.show-for-small
  			  a.sidebar-button.button#sidebarButton href="#queue" 
  			  	img.queue-icon src="assets/view-queue-icon.png"
  			  	' Queue
  			

	div.row
  		section role="main"
  			div.row
				div.twelve.columns.feed
      				div.row.feed-item
      					div.three.mobile-one.columns 
      						div.play-now 
      							img src="assets/play-icon.png" width="50px"
      						div.queue-next 
      							img src="assets/add-queue-icon.png" width="50px"
      					div.nine.mobile-three.columns.title-container
      						span.item-title Sinjin Hawke - Drama Canblaster & Sinjin Hawke Remix
      				div.row.feed-item
      					div.three.mobile-one.columns 
      						div.play-now 
      							img src="assets/play-icon.png" width="50px"
      						div.queue-next 
      							img src="assets/add-queue-icon.png" width="50px"
      					div.nine.mobile-three.columns.title-container
      						span.item-title Sinjin Hawke - Drama Canblaster & Sinjin Hawke Remix
      				div.row.feed-item
      					div.three.mobile-one.columns 
      						div.play-now 
      							img src="assets/play-icon.png" width="50px"
      						div.queue-next 
      							img src="assets/add-queue-icon.png" width="50px"
      					div.nine.mobile-three.columns.title-container
      						span.item-title Sinjin Hawke - Drama Canblaster & Sinjin Hawke Remix
      				div.row.feed-item
      					div.three.mobile-one.columns 
      						div.play-now 
      							img src="assets/play-icon.png" width="50px"
      						div.queue-next 
      							img src="assets/add-queue-icon.png" width="50px"
      					div.nine.mobile-three.columns.title-container
      						span.item-title Sinjin Hawke - Drama Canblaster & Sinjin Hawke Remix
      				div.row.feed-item
      					div.three.mobile-one.columns 
      						div.play-now 
      							img src="assets/play-icon.png" width="50px"
      						div.queue-next 
      							img src="assets/add-queue-icon.png" width="50px"
      					div.nine.mobile-three.columns.title-container
      						span.item-title Sinjin Hawke - Drama Canblaster & Sinjin Hawke Remix
      				div.row.feed-item
      					div.three.mobile-one.columns 
      						div.play-now 
      							img src="assets/play-icon.png" width="50px"
      						div.queue-next 
      							img src="assets/add-queue-icon.png" width="50px"
      					div.nine.mobile-three.columns.title-container
      						span.item-title Sinjin Hawke - Drama Canblaster & Sinjin Hawke Remix
      				div.row.feed-item
      					div.three.mobile-one.columns 
      						div.play-now 
      							img src="assets/play-icon.png" width="50px"
      						div.queue-next 
      							img src="assets/add-queue-icon.png" width="50px"
      					div.nine.mobile-three.columns.title-container
      						span.item-title Sinjin Hawke - Drama Canblaster & Sinjin Hawke Remix
      				div.row.feed-item
      					div.three.mobile-one.columns 
      						div.play-now 
      							img src="assets/play-icon.png" width="50px"
      						div.queue-next 
      							img src="assets/add-queue-icon.png" width="50px"
      					div.nine.mobile-three.columns.title-container
      						span.item-title Sinjin Hawke - Drama Canblaster & Sinjin Hawke Remix
      				div.row.feed-item
      					div.three.mobile-one.columns 
      						div.play-now 
      							img src="assets/play-icon.png" width="50px"
      						div.queue-next 
      							img src="assets/add-queue-icon.png" width="50px"
      					div.nine.mobile-three.columns.title-container
      						span.item-title Sinjin Hawke - Drama Canblaster & Sinjin Hawke Remix
      				div.row.feed-item
      					div.three.mobile-one.columns 
      						div.play-now 
      							img src="assets/play-icon.png" width="50px"
      						div.queue-next 
      							img src="assets/add-queue-icon.png" width="50px"
      					div.nine.mobile-three.columns.title-container
      						span.item-title Sinjin Hawke - Drama Canblaster & Sinjin Hawke Remix

  		section#queue role="complementary"
				div.payload
				ol
					li Sound Pellegrino Thermal Team - Strange Touch (My House)
					li Para one - Dudundun (MSTRKRFT Remix)
					li Para One ft. Jaw - "When The Night"