 

div.row.register-login
	div.columns.six
		p
			' Register!
	div.columns.six
		p
			' Log In!
div.placed-fixed
	div.row.media-player
		div.media-player.four.offset-by-eight
			div.youtube-placement

div.row
	div.columns.four
		div.recent-favorites 
			ul
				li Killing it
				li Another Item
				li Lorem ipsum...
	div.columns.five.end
		div.stream-set.row
			div.stream-item.row
				div.columns.eight
					h2.item-title 
					a.item-source href='http://toomanysebastians.net/2012/12/12/tiga-plush-jacques-lu-cont-remix/' target='_blank' Tiga – Plush (Jacques Lu Cont Remix)
					span.item-timestamp Friday, January 18, 2013
					a.item-blog-source href='http://toomanysebastians.net/' target='_blank' Et Musique Pour Tous
				div.columns.four
					div.play-item 
						a href='#' play
					div.favorite-item 
						a href='#' favorite

			div.stream-item.row
				div.columns.eight
					h2.item-title 
					a.item-source href='http://toomanysebastians.net/2012/12/12/tiga-plush-jacques-lu-cont-remix/' target='_blank' Tiga – Plush (Jacques Lu Cont Remix)
					span.item-timestamp Friday, January 18, 2013
					a.item-blog-source href='http://toomanysebastians.net/' target='_blank' Et Musique Pour Tous
				div.columns.four
					div.play-item 
						a href='#' play
					div.favorite-item 
						a href='#' favorite

			div.stream-item.row
				div.columns.eight
					h2.item-title 
					a.item-source href='http://toomanysebastians.net/2012/12/12/tiga-plush-jacques-lu-cont-remix/' target='_blank' Tiga – Plush (Jacques Lu Cont Remix)
					span.item-timestamp Friday, January 18, 2013
					a.item-blog-source href='http://toomanysebastians.net/' target='_blank' Et Musique Pour Tous
				div.columns.four
					div.play-item 
						a href='#' play
					div.favorite-item 
						a href='#' favorite