<!DOCTYPE html>
        {% load i18n %}
		
		{%  load static %}      
<html lang="{{ LANGUAGE_CODE }}">
    <head>
  
        <meta charset="utf-8" />
        <title>{% block head_title_base %}{% if SITE_NAME %}{{ SITE_NAME }} : {% endif %}{% block head_title %}{% endblock %}{% endblock %}</title>
        
        <link rel="shortcut icon" href="{% get_static_prefix %}img/favicon.ico" />
        
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/common.css">
        
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery-1.7.1.min.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/jquery.form.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/bootstrap.js"></script>
        <script type="text/javascript" src="{% get_static_prefix %}js/theme.js"></script>
            
        
        {% block extra_head_base %}
            {% block extra_head %}{% endblock %}
            {% block extra_loads %}{% endblock %}
        {% endblock %}       
    </head>
    
    <body style="background: url('{% get_static_prefix %}/img/Texture-13.png');" >
        <div class="background-body"  >
        {% block topbar_base %}
            <div class="topbar">
                <div class="fill">
                    <div class="container">
                        {% block topbar %}
                            
	                            <h3><a href="{% url home %}"><img src="{% get_static_prefix %}img/logo.png" /></a></h3>
	                        
	                            {% block nav %}{% endblock %}
	                            {% block account_bar %}{% include "_account_bar.html" %}{% endblock %}
                        {% endblock %}
                    </div>
                </div>
            </div>
            <br>
        {% endblock %}
        
        {% block body_base %}
            <div class="container" id="body-container">
                {% include "_messages.html" %}
                {% block body %}
                {% endblock %}
            </div>
        {% endblock %}
        
        {% block footer_base %}
            <div id="footer">
                <div class="inner">
                    <div class="container">
                        {% block footer %}{% endblock %}
                    </div>
                </div>
            </div>
        {% endblock %}

        </div>
    </body>
</html>
